@import "tailwindcss";


:root {
  --background: #ffffff;
  --foreground: #ffffff;
}

.dark {
  --background: #ffffff;
  --foreground: #ffffff;
}

body {
  color: var(--foreground);
  background: var(--background);
}